<!doctype="html">
<html lang="en">
        
    <head>

        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-inform/dist/angular-inform.css" />
        <link rel="stylesheet" href="bower_components/angular-block-ui/dist/angular-block-ui.css" />
        <link rel="stylesheet" href="bower_components/trix/dist/trix.css" />
        <!-- endbower -->
        <link rel="stylesheet" href="bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.css"/>
        <!-- endbuild -->
        
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css"/>
        <!-- endbuild -->
        <link rel="stylesheet" href="styles/site.css"/>

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    </head>

    <script>
    </script>

    <body ng-app="angular-lightning-demo" ng-controller="DemoController as dc">
     
    <div ng-include="'views/demo/header.html'"></div>

    <header class="site-masthead slds-grid">
        <div class="site-masthead-title slds-col slds-has-flexi-truncate slds-align-middle">
            <div class="slds-media slds-media--center slds-media--responsive">
                <img src="images/angular-lightning.png" width="60" style="margin-right:20px"/>
                <!-- <span li-icon type="action" icon="book" color="warning"></span> -->
                <div class="slds-media__body">
                    <div class="slds-grid">
                        <h1 title="Pills">Angular Lightning</h1>
                    </div>
                    <p>AngularJS Directives for Salesforce Lightning Design System</p>
                </div>
            </div>
        </div>
    </header>

    <div class="site-content slds-grid slds-p-around--large slds-wrap">

        <div class="slds-col slds-col--padded slds-size--2-of-12">
            <div class="slds-card" li-sticky li-above=".site-masthead">
                <div class="slds-card__header slds-grid">
                    <h2 class="slds-text-heading--small slds-truncate">Available Components</h2>
                </div>
                <div class="slds-card__body">
                    <table class="slds-table slds-table--bordered slds-max-medium-table--stacked-horizontal slds-no-row-hover">
                        <tr><td><a href="#" ng-click="dc.scrollTo('datepicker')">Date Picker</a></td></tr>
                        <tr><td><a href="#" ng-click="dc.scrollTo('picklist')">Picklist</a></td></tr>
                        <tr><td><a href="#" ng-click="dc.scrollTo('lookup')">Lookup</a></td></tr>
                        <tr><td><a href="#" ng-click="dc.scrollTo('icons')">Icons</a></td></tr>
                        <tr><td><a href="#" ng-click="dc.scrollTo('modals')">Modals</a></td></tr>
                        <tr><td><a href="#" ng-click="dc.scrollTo('tooltips')">Tooltips</a></td></tr>
                        <tr><td><a href="#" ng-click="dc.scrollTo('tabs')">Tabs</a></td></tr>
                        <tr><td><a href="#" ng-click="dc.scrollTo('texteditor')">Text Editor</a></td></tr>
                        <tr><td><a href="#" ng-click="dc.scrollTo('progressbar')">Progressbar</a></td></tr>
                    </table>
                </div>
                <div class="slds-card__footer">
                    <i>Need a component? <a href="https://github.com/mbowen000/angular-lightning/issues">Create an Issue</a></i>
                </div>
            </div>
        </div>

        <div class="slds-col slds-col--padded slds-size--10-of-12">

            <section id="datepicker">
                <h2 class="site-text-heading--large site-text-heading--callout site-jump-anchor__container" type="h2">
                    <span id="base" class="site-jump-anchor" ></span>
                    <span>Date Picker</span>
                    <span class="slds-badge slds-m-left--medium slds-shrink-none slds-align-middle">Beta</span>
                </h2>

                <div class="slds-form-element__control">
                    <div class="slds-input-has-icon slds-input-has-icon--right">
                        <span li-icon type="utility" icon="event" size="x-small" add-classes="slds-input__icon"></span>
                        <input class="slds-input" type="text" placeholder="Pick a Date" label="Date Picker Label" ng-model='dc.datefield' ng-required='dc.datefield.required' li-datepicker ng-disabled="dc.datefield.disabled || $parent.$parent.section.state.status === 'pending'"/>
                    </div>
                </div>

                <p><h3>Date Picker Example Code</h3></p>

                <script src="https://gist.github.com/mbowen000/d6508ea04228901dc557.js"></script>

            </section>

            <section id="picklist">

                <h2 class="slds-p-top--xx-large site-text-heading--large site-text-heading--callout site-jump-anchor__container" type="h2">
                    <span id="base" class="site-jump-anchor" ></span>
                    <span>Picklist</span>
                    <span class="slds-badge slds-m-left--medium slds-shrink-none slds-align-middle">Beta</span>
                </h2>

                <div class="slds-form-element__control" li-picklist options="dc.picklistfield.picklistvals" ng-model="dc.picklistfield.value"></div>

                <p><h3>Picklist Example Code</h3></p>
                <script src="https://gist.github.com/mbowen000/cfe32261dfe19d45fc55.js"></script>

            </section>

            <section id="lookup">

                <h2 class="slds-p-top--xx-large site-text-heading--large site-text-heading--callout site-jump-anchor__container" type="h2">
                    <span id="base" class="site-jump-anchor" ></span>
                    <span>Lookup</span>
                    <span class="slds-badge slds-m-left--medium slds-shrink-none slds-align-middle">Beta</span>
                </h2>

                <div class="slds-lookup" data-select="multi" data-scope="single" data-typeahead="true">
                  <div class="slds-form-element">
                    <label class="slds-form-element__label" for="lookup">Accounts</label>
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                      <svg aria-hidden="true" class="slds-input__icon">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                      </svg>
                      <input id="lookup" class="slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="true" aria-activedescendant="" object-name="Demo Locations" li-lookup="location as location.formatted_address for location in dc.lookupTest($viewValue)" ng-model="dc.typeaheadVal" />
                    </div>
                  </div>
                </div>

                <p><h3>Lookup Example Code</h3></p>
                <script src="https://gist.github.com/mbowen000/d73a374a8154aa6ea442.js"></script>

            </section>


            <section id="icons">

                <h2 class="slds-p-top--xx-large site-text-heading--large site-text-heading--callout site-jump-anchor__container" type="h2">
                    <span id="base" class="site-jump-anchor" ></span>
                    <span>Icons</span>
                    <span class="slds-badge slds-m-left--medium slds-shrink-none slds-align-middle">Beta</span>
                </h2>

                <span li-icon type="utility" icon="warning" size="x-small" color="warning"></span>

                <h2 class="site-text-heading--small site-text-heading--callout">Inside Input</h2>

                <div class="slds-lookup" data-select="multi" data-scope="single" data-typeahead="true">
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                      <span li-icon type="utility" icon="search" size="small" color="default" add-classes="slds-input__icon"></span>
                      <input id="lookup" class="slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="true" aria-activedescendant="" object-name="{{field.ObjectName}}" li-lookup="record as record.Name for record in fieldLookUp(field.ObjectAPI, field.WhereClause, $viewValue)" ng-model="field.typeaheadVal" ng-disabled="field.disabled || $parent.$parent.section.state.status === 'pending'" />
                    </div>
                </div>

                <p><h3>Example Icon Code</h3></p>
                <script src="https://gist.github.com/mbowen000/30cc59e1fade4404ca47.js"></script>

            </section>

            <section id="modals">

                <h2 class="slds-p-top--xx-large site-text-heading--large site-text-heading--callout site-jump-anchor__container" type="h2">
                    <span id="base" class="site-jump-anchor" ></span>
                    <span>Modals</span>
                    <span class="slds-badge slds-m-left--medium slds-shrink-none slds-align-middle">Beta</span>
                </h2>
            

                <div ng-controller="DemoModalController as mc">
                    <!-- todo: move this to external template in controller -->
                    <button ng-click='mc.open()'>Open</button>
                </div>

                <p><h3>Example Modal Code</h3></p>
                <script src="https://gist.github.com/mbowen000/d6b2bd5a1e94ada2e81f.js"></script>

            </section>


            <section id="tooltips">

                <h2 class="slds-p-top--xx-large site-text-heading--large site-text-heading--callout site-jump-anchor__container" type="h2">
                    <span id="base" class="site-jump-anchor" ></span>
                    <span>Tooltips</span>
                    <span class="slds-badge slds-m-left--medium slds-shrink-none slds-align-middle">Beta</span>
                </h2>
                
                <a href="#" li-tooltip="{{dc.textfield}}">Tooltip Here</a>
                <br/>
                <a href="#" li-tooltip template="views/demo/tooltip-demo.html">Tooltip With Template</a>

                <p>
                    Tooltip enabled if checkbox is checked: <input li-tooltip="hi" tooltip-enabled="dc.enableTooltip" type="checkbox" ng-model="dc.enableTooltip"/>
                </p>

                <p><h3>Example Tooltip Code</h3></p>
                <script src="https://gist.github.com/mbowen000/f17af5e9d04ec0a1b202.js"></script>

            </section>

            <section id="tabs">
                <h2 class="slds-p-top--xx-large site-text-heading--large site-text-heading--callout site-jump-anchor__container" type="h2">
                    <span id="base" class="site-jump-anchor" ></span>
                    <span>Tabs</span>
                    <span class="slds-badge slds-m-left--medium slds-shrink-none slds-align-middle">Beta</span>
                </h2>
                
                <li-tabset>
                    <li-tab heading="Tab 1">First tab!</li-tab>
                    <li-tab heading="Tab 2" active-first="true">The second tab is set to activate first!</li-tab>
                </li-tabset>

                <p><h3>Example Tab Code</h3></p>
                <script src="https://gist.github.com/mbowen000/217c052f0301c7381063.js"></script>

            </section>

            <section id="texteditor">
                <h2 class="slds-p-top--xx-large site-text-heading--large site-text-heading--callout site-jump-anchor__container" type="h2">
                    <span id="base" class="site-jump-anchor" ></span>
                    <span>Rich Text Editor</span>
                    <span class="slds-badge slds-m-left--medium slds-shrink-none slds-align-middle">Beta</span>
                </h2>
                
                <div li-wysiwyg ng-model="dc.richtext" wysiwyg-id="someUniqueId"></div>
                Model Value: {{dc.richtext}}

                <p><h3>Example Rich Text Code</h3></p>
                <script src="https://gist.github.com/mbowen000/c906e778675eec8da56c.js"></script>
            </section>

            <section id="progressbar">
                <h2 class="slds-p-top--xx-large site-text-heading--large site-text-heading--callout site-jump-anchor__container" type="h2">
                    <span id="base" class="site-jump-anchor" ></span>
                    <span>Progress Bar</span>
                    <span class="slds-badge slds-m-left--medium slds-shrink-none slds-align-middle">Beta</span>
                </h2>
                
                <h2 class="site-text-heading--small site-text-heading--callout">With Badge (Default)</h2>

                <div li-progressbar value="dc.progressValue"></div>
                <div class="slds-form-element">
                    <label class="slds-form-element__label">Progressbar Value:</label>
                    <input type="number" class="slds-input" ng-model="dc.progressValue"/>
                </div>

                <h2 class="site-text-heading--small site-text-heading--callout">No Badge</h2>
                <div li-progressbar value="dc.progressValue" nobadge="true"></div>

                <p><h3>Example Progress Bar Code</h3></p>
                <script src="https://gist.github.com/mbowen000/f853024a0617827ec0e2.js"></script>

            </section>

        </div><!-- end .slds-col -->
    </div>

    </body>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-safeapply/safe-apply.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-inform/dist/angular-inform.js"></script>
    <script src="bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="bower_components/trix/dist/trix.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/fields/field-datepicker.js"></script>
    <script src="scripts/fields/field-picklist.js"></script>
    <script src="scripts/fields/field-lookup.js"></script>
    <script src="scripts/fields/field-wysiwyg.js"></script>
    <script src="scripts/utils/icon.js"></script>
    <script src="scripts/utils/modal.js"></script>
    <script src="scripts/utils/tooltip.js"></script>
    <script src="scripts/utils/tabs.js"></script>
    <script src="scripts/utils/progress.js"></script>
    <script src="scripts/utils/sticky.js"></script>
    <!-- endbuild -->

    <!-- include the demo script outside of the usemin block (we dont want it included in the dist code) -->
    <script src="scripts/demo/demo.js"></script>
    <script src="scripts/demo/modal-demo.js"></script>

</apex:page>