<apex:page controller="POSSystemController" applyBodyTag="false" applyHtmlTag="false" showHeader="false" standardStylesheets="false">
        
    <head>

        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-inform/dist/angular-inform.css" />
        <link rel="stylesheet" href="bower_components/angular-block-ui/dist/angular-block-ui.css" />
        <!-- endbower -->
        <link rel="stylesheet" href="bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.css"/>
        <!-- endbuild -->
        
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css"/>
        <!-- endbuild -->


    </head>

    <script>
    </script>

    <body ng-app="angular-lightning-demo" ng-controller="DemoController as dc">
        
        <h1 class="slds-text-heading--large">Angular Lightning</h1>
        <p>AngularJS Directives for Salesforce Lightning Design System</p>

        <br/>
        <h2 class="slds-text-heading--medium">Form Fields</h2>
    
        <br/>
        <h3 class="slds-text-heading--small">Datepicker</h3>

        <div class="slds-form-element__control">
            <div class="slds-input-has-icon slds-input-has-icon--right">
                <!-- <span smb-icon type="utility" icon="event" size="x-small"></span> -->
                <input class="slds-input" type="text" placeholder="Pick a Date" label="Date Picker Label" ng-model='datefield' ng-required='datefield.required' li-datepicker ng-focus="isOpen = true" ng-disabled="datefield.disabled || $parent.$parent.section.state.status === 'pending'"/>
            </div>
        </div>

        <div class="slds-form-element__control" li-picklist options="dc.picklistfield.picklistvals" ng-model="dc.picklistfield.value"></div>

        <h3 class="slds-text-heading--small">Lookup</h3>
        <div class="slds-lookup" data-select="multi" data-scope="single" data-typeahead="true">
          <div class="slds-form-element">
            <label class="slds-form-element__label" for="lookup">Accounts</label>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
              <svg aria-hidden="true" class="slds-input__icon">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
              </svg>
              <input id="lookup" class="slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="true" aria-activedescendant="" li-lookup="dc.lookupTest($viewValue)" ng-model="dc.typeaheadVal" />
            </div>
          </div>
        </div>


        <br/>
        <h2 class="slds-text-heading--medium">Icons</h2>

        <span li-icon type="utility" icon="warning" size="x-small" color="warning"></span>

        <h2 class="slds-text-heading--medium">Modals</h2>

        <div ng-controller="DemoModalController as mc">
            <!-- todo: move this to external template in controller -->
            <button ng-click='mc.open()'>Open</button>
        </div>



    </body>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-safeapply/safe-apply.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-inform/dist/angular-inform.js"></script>
    <script src="bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/fields/field-datepicker.js"></script>
    <script src="scripts/fields/field-picklist.js"></script>
    <script src="scripts/fields/field-lookup.js"></script>
    <script src="scripts/utils/icon.js"></script>
    <script src="scripts/utils/modal.js"></script>
    <!-- endbuild -->

    <!-- include the demo script outside of the usemin block (we dont want it included in the dist code) -->
    <script src="scripts/demo/demo.js"></script>
    <script src="scripts/demo/modal-demo.js"></script>

</apex:page>