<div class="slds-dropdown slds-dropdown--left slds-dropdown--menu" ng-if="yearPickerOpen">
	<ul class="slds-dropdown__list" role="menu">
		<!-- <li id="menu-0-0" href="#" class="slds-dropdown__item"><a href="#" class="slds-truncate" role="menuitem">Menu Item One</a></li>
		<li id="menu-1-1" href="#" class="slds-dropdown__item"><a href="#" class="slds-truncate" role="menuitem">Menu Item Two</a></li>
		<li id="menu-2-2" href="#" class="slds-dropdown__item"><a href="#" class="slds-truncate" role="menuitem">Menu Item Three</a></li> -->
		<li class="slds-dropdown__item">
			<a role="menuitem" ng-click="yearPrevPage()">Earlier</a>		
		</li>
		<li ng-repeat="year in years" class="slds-dropdown__item" ng-class="{ 'slds-has-divider' : $first }">
			<a class="slds-truncate" role="menuitem" ng-click="selectYear(year.moment)">{{year.label}}</a>
		</li>
		<li class="slds-dropdown__item slds-has-divider">
			<a role="menuitem" ng-click="yearNextPage()">Later</a>		
		</li>
	</ul>
</div>