<div ng-include="'views/header.html'"></div>

<div class="slds-grid slds-wrap">

	<aside class="layout-sidebar slds-col--padded slds-size--12-of-12 slds-medium-size--6-of-12 slds-large-size--4-of-12">
	  
		<div class="slds-card steps" smb-stepoverview>
			<div class="slds-card__header slds-grid">
		    	<div class="slds-media slds-media--center slds-has-flexi-truncate">
		      		<!-- <div class="slds-media__figure">
			        	<span smb-icon type="utility" icon="warning" color="warning"></span>
	     			</div> -->
					<div class="slds-media__body">
						<h2 class="slds-text-heading--small slds-truncate">Summary</h2>
					</div>
				</div>
		 	</div>
		 	<div class="slds-card__body">
				<table class="slds-table slds-table--bordered slds-max-medium-table--stacked-horizontal page-nav">
					<tr ng-repeat-start="page in form.pages" ng-click="page.activate()">
						<td>{{page.name}} ({{page.progress()}}%)</td>
						<td style="text-align:right">
							<!-- invalid icon -->
							<span smb-icon type="utility" icon="warning" size="x-small" color="warning" ng-if="page.formCtrl.$invalid"></span>
							
							<!-- valid icon -->
							<span smb-icon type="utility" icon="success" size="x-small" color="success" ng-if="page.formCtrl.$valid"></span>
							
							<span smb-icon type="utility" icon="right" size="x-small" color="default" ng-if="page.active"></span>
						</td>
					</tr>	
					<tr ng-repeat-end class="progresswrappertr">
						<td colspan="2" class="progresswrapper">
							<div smb-progressbar minimal value="page.progress()"></div>
						</td>
					</tr>
				</table>
		 	</div>
		</div>
	
	</aside>
  
	<main class="layout-main slds-col--padded slds-size--12-of-12 slds-medium-size--6-of-12 slds-large-size--8-of-12">

		<div smb-form form="form" ng-form="mainform" ng-if="form"></div>

	</main>
</div>