<div ng-include="'views/header.html'"></div>

<div class="slds-grid slds-wrap">
  <nav class="slds-col slds-size--1-of-1"></nav>
  <aside class="slds-col slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--4-of-12">
    <ul ng-repeat="page in pages.models">
      <li ng-click="page.fetch()">{{page.get('name')}}</li>
    </ul>
  </aside>
  <main class="slds-col slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
    
  <div smb-form form="form" ng-form="mainform">  

  </div>
  </main>
</div>