

<label class="slds-form-element__label smb-field-label" for="inputSample2" ng-class="{ 'disabled': !field.visible }">{{field.label}}</label>

<div class="smb-field-wrap-main" ng-switch="field.type" ng-class="{ 'disabled': !field.visible }">
	
	<!-- dynamic field generation -->
	<div ng-switch-when="text" smb-field-text></div>

	<div ng-switch-when="date" smb-field-date></div>

	<div ng-switch-when="picklist" smb-field-picklist></div>
	
	<div ng-switch-when="dropdown" smb-field-dropdown></div>

	<div ng-switch-when="textarea" smb-field-textarea></div>

	<div ng-switch-when="wysiwyg" smb-field-wysiwyg></div>

</div>
