<div class="slds-picklist--draggable slds-grid">
  <div class="slds-form-element">
    <span class="slds-form-element__label" aria-label="select-1">First Category</span>
    <div class="slds-picklist slds-picklist--multi">
      <ul class="slds-picklist__options slds-picklist__options--multi shown">
        <li draggable="true" id="po-0-0" class="slds-picklist__item slds-has-icon slds-has-icon--left" aria-selected="false" tabindex="0" role="option">
          <span class="slds-truncate">
            <span>Option One</span>
          </span>
        </li>
        <li draggable="true" id="po-1-1" class="slds-picklist__item slds-has-icon slds-has-icon--left" aria-selected="false" tabindex="-1" role="option">
          <span class="slds-truncate">
            <span>Option Two</span>
          </span>
        </li>
        <li draggable="true" id="po-2-2" class="slds-picklist__item slds-has-icon slds-has-icon--left" aria-selected="false" tabindex="-1" role="option">
          <span class="slds-truncate">
            <span>Option Three</span>
          </span>
        </li>
        <li draggable="true" id="po-3-3" class="slds-picklist__item slds-has-icon slds-has-icon--left" aria-selected="false" tabindex="-1" role="option">
          <span class="slds-truncate">
            <span>Option Four</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="slds-grid slds-grid--vertical">
    <button class="slds-button slds-button--icon-container">
      <svg aria-hidden="true" class="slds-button__icon">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#left"></use>
      </svg>
      <span class="slds-assistive-text">Pick list</span>
    </button>
    <button class="slds-button slds-button--icon-container">
      <svg aria-hidden="true" class="slds-button__icon">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
      </svg>
      <span class="slds-assistive-text">Pick list</span>
    </button>
  </div>
  <div class="slds-form-element">
    <span class="slds-form-element__label" aria-label="select-2">Second Category</span>
    <div class="slds-picklist slds-picklist--multi">
      <ul class="slds-picklist__options slds-picklist__options--multi shown"></ul>
    </div>
  </div>
  <div class="slds-grid slds-grid--vertical">
    <button class="slds-button slds-button--icon-container">
      <svg aria-hidden="true" class="slds-button__icon">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#up"></use>
      </svg>
      <span class="slds-assistive-text">Pick list</span>
    </button>
    <button class="slds-button slds-button--icon-container">
      <svg aria-hidden="true" class="slds-button__icon">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
      </svg>
      <span class="slds-assistive-text">Pick list</span>
    </button>
  </div>
</div>