<span class="fieldwrapper" ng-if="field.visible">

	<label class="slds-form-element__label" for="inputSample2">{{field.label}}</label>

	<div ng-switch="field.type">
		
		<!-- dynamic field generation -->
		<div ng-switch-when="text">
		  <div class="slds-form-element__control">
		    <input id="inputSample2" class="slds-input" type="text" placeholder="" ng-model="field.value" />
		  </div>
		</div>

		<div ng-switch-when="date" smb-field-date required="field.required"></div>

		<div ng-switch-when="picklist" smb-field-picklist></div>

	</div>

</span>