<div ng-repeat="page in form.pages" ng-form="{{page.devname}}" smb-page class="page" ng-show="page.active">
	
	<div class="title-container slds-media">
		<span smb-icon type="{{page.icon.type}}" icon="{{page.icon.name}}"></span>
		<div class="slds-text-heading--medium slds-col slds-media__body smb-page-header">{{page.name}}</div>
	</div> 
	<div smb-progressbar value="page.progress()"></div>

  	<div class="">
    
	    <div ng-repeat="section in page.sections" smb-section ng-form="{{section.devname}}" class="smb-section"> 
	      <!-- <div class="slds-text-heading--small slds-text-heading--underline">{{section.name}}</div> -->
	      	<h3 class="slds-section-title section-group--is-open smb-section-title">
			  	<span smb-icon type="utility" icon="switch"></span>
			  	{{section.name}}

			  	<span class="slds-badge slds-theme--inverse" ng-if="section.state.status === 'pending'" smb-tooltip="This section is locked by Finance Approval 1 - It will require re-approval if unlocked.">Locked</span>
			</h3>

			<div class="slds-grid slds-wrap slds-form--stacked">
				
				<div class="slds-col--padded slds-medium-size--1-of-2 slds-small-size--1-of-1" ng-class="{'slds-size--2-of-2': field.fullwidth}" ng-repeat="field in section.elements">
					<div class="slds-form-element" smb-field field="field" ng-class="{'slds-is-required' : field.required, 'slds-has-error' : {{field.name}}.$invalid && {{field.name}}.$dirty }" ng-form="{{field.name}}"></div>
				</div>

			</div>
	    </div>

	</div>

</div>