<div class="slds-hint-parent hint-parent-demo">
  <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
    <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
    </svg>
    <span class="slds-assistive-text">Show More</span>
  </button>
  <button class="slds-button slds-button--icon-border">
    <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
    </svg>
    <span class="slds-assistive-text">Settings</span>
  </button>
</div>