<div class="slds-lookup__menu" role="listbox">
  <table class="slds-table slds-table--bordered" role="listbox">
    <thead>
      <tr>
        <th colspan="{{lookupFields.length}}">
          <span li-icon type="utility" icon="search" size="small" color="default"></span>
          &quot;{{currentVal}}&quot; in {{theObject}}
        </th>
      </tr>
      <tr>
        <th>Name</th>
        <th ng-repeat="field in lookupFields">{{field}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in matches track by $index" ng-click="selectMatch($index)" style="cursor: pointer;">
        <td>{{match.label}}</td>
        <td ng-repeat="field in lookupFields">{{getField(match.model, field)}}</td>
      </tr>
    </tbody>
  </table>
</div>