<div class="slds-lookup__menu" role="listbox">
  <div class="slds-lookup__item">
    <button class="slds-button">
      <span li-icon type="utility" icon="search" size="small"></span>
      &quot;{{currentVal}}&quot; in {{theObject}}</button>
  </div>
  <ul class="slds-lookup__list" role="presentation">
    <li class="slds-lookup__item" ng-repeat="match in matches track by $index" ng-click="selectMatch($index)">
      <a href="javascript:;" role="option">
        <span li-icon type="standard" icon="account" size="small"></span>
        {{match.label}}
      </a>
    </li>
  </ul>
</div>